#about {
    margin-top: 10px;
}

#about h2{
    margin-top: 20px;
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
}

#about p{
    font-size: 15px;
    margin-top: 10px;
}

.ima-content{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ima img{
    /* height: 120px; */
    width: 350px;
}

.content{
    margin-left: 20px;
}

.content h2, p{
    color: #001f3f;
}

.info .aa{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info .aa h2{
    color: #0a76e3;
    font-weight: 900;
    font-size: 21px;
    font-family: poppins, sans-serif;
}

.info .aa p, a{
    margin-left: 10px;
}

.little p{
    letter-spacing: 1px;
    font-family: 'poppins';
    /* font-size: 1.3em; */
}



.facts {
    margin-top: 40px;
    margin-bottom: 40px;
}

b{
    font-size: 2em;
    text-decoration: underline;
}

.facts p{
    margin-top: 10px;
    color: rgb(3, 9, 24);
    font-size: 19px;
}

.rates{
    display: flex;
    margin-top: 20px;
    position: relative;
    gap: 20px;
}

.contain{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.contain .num{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    line-height: 1.5;
}

.contain .num p{
    margin-top: 0;
}

.num span{
    margin-top: -5px;
    font-weight: 100;
    font-size: 15px;
}

.skills {
    margin-top: 40px;
    margin-left: -50px;
    height: 350px;
    background-color: #9aa4af;
}

.skills b, p{
    margin-left: 50px;
    
}