#contact {
  display: flex;
  position: relative;
  margin: auto 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 224, 224);
  margin-bottom: 20px;
  padding: 4.1px;
}

.ll {
  /* margin-left: 320px; */
  padding: 10px;
}
