#portfolio {
  position: relative;
  background-color: aliceblue;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.port-container {
  position: relative;
 
}

.section-titles h2 {
  color: #001f3f;
  font-weight: 900;
  letter-spacing: 1px;
  padding-top: 30px;
}

.section-titles p {
  margin-top: 50px;
  font-size: 1.1em;
  line-height: 25px;
  color: #001f3f;
  font-weight: 500;
}

.section-titles span {
  margin-top: 10px;
  position: absolute;
  height: 2.8px;
  width: 70px;
  background-color: #0f75dc;
  border-radius: 2px 10px 20px 80px;
}

.port-filter {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-left: -40px;
}

.port-filter ul {
  border-radius: 20px;
  height: 45px;
  background-color: white;
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-around;
  margin-bottom: 40px;
}

.port-filter ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0786a5;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
}


.ca {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}




.all-portfolio{
  position: relative;
  display: flex;
}

.allPorts{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.ports{
  height: 500px;
  margin: 20px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}

.intro{
  height: 70px;
  width: 350px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, 0.8);
  bottom: 120px;
  transition: all 0.5s;
}

.intro h2 a{
  margin: 10px;
  font-size: 40px;
  color: white;
}

.intro p{
  color: white;
  font-size: 15px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}

.ports:hover{
  cursor: pointer;
}

.ports:hover .intro{
  height: 220px;
  bottom: 120px;
  background-color: #001f3f;
}
.ports:hover p{
  opacity: 1;
  visibility: visible;
}
.ports:hover img{
  transform: scale(1.1) rotate(-3deg);
}

.allPorts img{
  height: 500px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
}

/* #Alls {
  display: flex;
  flex-wrap: wrap;
} */

